@{
    ViewBag.Title = "Home Page";
}
<h2>About DotNetHighcharts</h2>
This project was build upon many prior implimentations. The sourcecode for this branch was gotten from the
<a href="http://dotnethighcharts.codeplex.com" target="_blank">dotnethighcharts.codeplex.com</a> CodePlex Page.