@model DotNet.Highcharts.Highcharts

@{
    ViewBag.Title = "Bar with negotive stack";
}

@(Model)

<script type="text/javascript">
    function TooltipFormatter() {
        return '<b>' + this.series.name + ', age ' + this.point.category + '</b><br/>' +
                'Population: ' + Highcharts.numberFormat(Math.abs(this.point.y), 0);
    }
</script>
<div class="col-sm-12">
    <h4>Controller</h4>
    <pre class="prettyprint">
// coming soon
</pre>
</div>