@model DotNet.Highcharts.Highcharts
           
@{
    ViewBag.Title = "Pie with legend";
}

@(Model)

<div class="col-sm-12">
    <h4>Controller</h4>
    <pre class="prettyprint">
// coming soon...
</pre>
</div>