@model DotNet.Highcharts.Highcharts

@{
    ViewBag.Title = "Spline with plot bands";
}

@(Model)

<div class="col-sm-12">
    <h4>Controller</h4>
    <pre class="prettyprint">
// coming soon...
</pre>
</div>