@model DotNet.Highcharts.Highcharts

@{
    ViewBag.Title = "Stacked and grouped column";
}

@(Model)
<script type="text/javascript">
    function TooltipFormatter() {
        return '<b>' + this.x + '</b><br/>' +
                this.series.name + ': ' + this.y + '<br/>' +
                'Total: ' + this.point.stackTotal;
    }
</script>

<div class="col-sm-12">
    <h4>Controller</h4>
    <pre class="prettyprint">
// coming soon
</pre>
</div>